<section class="block_1">
  <header id="header">
    <p id="title">Задачи</p>
    <img src="/assets/TodoIcon.png" id="imagePlus" alt="plus">  
  </header>
</section>

<section class="block_2">

      <div id="div_show">      
      <div class="container">
  <div class="row">
    <div class="col-sm">
        <% @projects.each do |project| %>
        
          <div id="project_div">
            <p><%= project.title %></p>
            <% @todos.each do |newTodo| %>
              <% if newTodo.project_id == project.id %>      
                <%= form_for :completedTodo, id:'form_id', method: "put", :url => {:action => "completedTodo"} do |f1| %>
                  <%= f1.text_field :id, value: newTodo.id, class: "const_id_todo", style: "display: none"  %>
                  <% if newTodo.isCompleted == false %>
                    <%= f1.check_box :isCompleted, class: 'check_todo', checked: "unchecked", id: newTodo.id%>
                  <%else%>
                    <%= f1.check_box :isCompleted, class: 'check_todo', checked: "checked", id: newTodo.id%>
                  <%end%>
                  <span class="line_width">
                    <span class="text_todo_<%=String(newTodo.id)%>", id="text_todo"><%= newTodo.text %></span>
                  </span>
                  <%= f1.submit "OK", class: "submit_bnt_real_isCompleted_"+String(newTodo.id), style: "display: none" %><br />
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      </div>
  </div>
</div>
</section>

<section class="block_3" style="display: none">
  <%= render 'createTodo' %>
</section>